/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global formatting settings */
:root {
	--menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
	scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
    height: 100vh;
    background-color: #1E1E24;
		line-height: 1.5;
  }

/* Media Queries for margins */
@media all and (min-width:320px){
	body {
		margin: 0px 20px;
	}
}

@media all and (min-width:768px){
	body {
		margin: 0px 50px;
	}
}

@media all and (min-width:1280px){
	body {
		margin: 0px 100px;
	}
}

@media all and (min-width: 1600px) {
	body {
		margin: 0px 200px;
	}
}

/* Font imports */
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Montserrat:wght@200&family=Share+Tech+Mono&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rajdhani&display=swap');

nav {
 font-family: 'Fira Sans', sans-serif;
 font-size: 24px;
 color: #80deea;
 height: 100px;
}

main {
	color: #fff;
	z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
	transition: 0.3s ease;
	text-transform: lowercase;
}

p {
	font-size: 18px;
}

/* Mobile Menu */
.menu-wrap {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
}

.menu-wrap .toggler {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	cursor: pointer;
	width: 70px;
	height: 70px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 70px;
	height: 70px;
	padding: 1rem;
	background: #1E1E24;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

/* Hamburger Lines */
.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #FBFEF9;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
	top: 10px;
}

/* Toggler animation */
.menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
}

/* Rotate hamburger on hover */
.menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: (--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #1E1E24;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > div {
	border-radius: 50%;
	width: 200vw;
	height: 200vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
	padding: 1rem;
	font-size: 1.5rem;
}

/* Menu links on hover */
.menu > div > div > ul > li > a::after {
content: "";
display: flex;
width: 0;
height: 2px;
transition: width 0.4s;
background: #FBFEF9;
}

.menu > div > div > ul > li > a:hover::after {
	width: 100%;
	transition: width 0.4s;
}

/* Fix burger menu overlap on smaller devices */
@media all and (min-width: 320px) {
	.menu-wrap .hamburger {
		opacity: 0.5;
	}
}

@media all and (min-width: 768px) {
	.menu-wrap .hamburger {
		opacity: 0.7;
	}
}

@media all and (min-width: 1280px) {
	.menu-wrap .hamburger {
		opacity: 1;
	}
}

/* Scroll indicator */
.scroll-head {
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
	background-color: #1E1E24;
}

.progress-container {
	width: 100%;
	height: 5px;
	background: #1E1E24;
}

.progress-bar {
	height:5px;
	background: #fff;
	width: 0%;
}

/* Intro Section */
.intro {
	height: 100%;
}

/* Media Queries for intro */
@media all and (min-width:320px){
	.intro {
		width: 80vw;
	}
	.socials a {
		height: 40%;
		width: 40%;
	}
	.pic img {
		height: 80%;
		width: 80%;
	}
}

@media all and (min-width:768px){
	.intro {
		width: 70vw;
	}
	.socials a {
		height: 15%;
		width: 15%;
	}
	.pic img {
		height: 50%;
		width: 50%;
	}
}


@media all and (min-width:1280px){
	.intro {
		width: 50vw;
	}
	.socials a {
		height: 15%;
		width: 15%;
	}
	.pic img {
		height: 40%;
		width: 40%;
	}
}

@media all and (min-width: 1600px) {
	.socials a {
		height: 10%;
		width: 10%;
	}
	.pic img {
		height: 50%;
		width: 50%;
	}
}

.pic img {
	border-radius: 50%;
	border: solid 2px #ced4da;
	transition: 0.3s ease-in-out;
	filter: grayscale(90%);
}


.inner-content {
	font-family: 'Share Tech Mono', monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: 2px solid #fff;
	height: auto;
}

.inner-content * {
	margin: 10px 15px;
}

.code-colour {
	color: #388e3c;
	margin: 0;
	transition: 0.5s;
}

.code-colour:hover {
	text-transform: uppercase;
	cursor: pointer;
}

.code-colour2 {
	color: #7cd6e1;
	margin: 0;
}

.code-colour3 {
	color: #F00699;
	margin: 0;
	font-family: Rajdhani, sans-serif;
}

.code-colour4 {
	color: #018E42;
	margin: 0;
	font-family: Montserrat, sans-serif;
}

.code-colour5 {
	color: #F7D002;
	margin: 0;
}

/* Tooltips for code colour */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	background-color: #1E1E24;
	color: #fff;
	font-size: 12px;
	width: 200px;
	text-align: center;
	padding: 5px;
	border: solid 1px #fff;
	bottom: 60%;
	left: 5%;
	font-family: Montserrat, sans-serif;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

/* Fade-in effect on load */
.fade-in {
  animation: fadeIn ease 5s;

}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Socials Section */
.socials {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
}

.socials a {
	padding: 0px 5px;
}

.socials a:hover {
	box-shadow: 5px 5px #fff;
}

/* Projects */
.projects {
	font-family: 'Share Tech Mono', monospace;
	height: 100%;
}

/* Media queries for Projects */
/*WIP*/
@media all and (min-width:320px){
	.projects {
		width: 90vw;
	}
	.project-grid img {
		height: 90%;
		width: 90%;
	}
	.project-wrapper {
		width: 90%;
	}
	.overlay {
		width: 90%;
		bottom: -8px;
	}
	.project-wrapper:hover .overlay  {
		height: 100%;
	}
	.overlay-title {
		font-size: 13px;
	}
	.overlay-text p {
		font-size: 12px;
	}
}

@media all and (min-width:768px){
	.projects {
		width: 70vw;
	}
	.project-grid img {
		height: 90%;
		width: 90%;
	}
	.project-wrapper {
		width: 90%;
	}
	.overlay {
		width: 90%;
		bottom: 2px;
	}
	.project-wrapper:hover .overlay  {
		height: 60%;
	}
	.overlay-title {
		font-size: 12px;
	}
	.overlay-text p {
		font-size: 11px;
	}
}

@media all and (min-width:1280px){
	.projects {
		width: 75vw;
	}
	.project-grid img {
		height: 90%;
		width: 90%;
	}
	.project-wrapper {
		width: 90%;
	}
	.overlay {
		width: 90%;
		bottom: 20px;
	}
	.project-wrapper:hover .overlay  {
		height: 50%;
	}
	.overlay-title {
		font-size: 20px;
	}
	.overlay-text p {
		font-size: 18px;
	}
}

@media all and (min-width: 1600px) {
	.projects {
		width: 70vw;
	}
	.project-grid img {
		height: 85%;
		width: 85%;
	}
	.project-wrapper {
		width: 85%;
	}
	.overlay {
		width: 85%;
		bottom: 43px;
	}
	.project-wrapper:hover .overlay  {
		height: 60%;
	}
}

@media all and (min-width: 1920px) {
	.overlay {
		bottom: 56px;
	}
}

/* Position for 1440p displays */
@media all and (min-width: 2560px) {
	.overlay {
		bottom: 80px;
	}
}

/* Position for 4K displays */
@media all and (min-width: 3840px) {
	.overlay {
		bottom: 100px;
	}
}

/* Position for 5K displays */
@media all and (min-width: 5120px) {
	.overlay {
		bottom: 110px;
	}
}
.project-grid {
	margin: inherit;
	display: flex;
	flex-direction: row;
	font-family: Montserrat, sans-serif;
	height: 100%;
}

.project-grid img {
	/* Height/width values based on one project, reduce to 50% after two projects are completed */
	border: solid 2px #fff;
	margin: 0;
}

.project-grid img:hover {
	box-shadow: 0px 0px 5px 5px #fff;
}

.project-wrapper {
	position: relative;
}

.project-wrapper:hover .overlay {
	cursor: pointer;
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: hidden;
	height: 0;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.overlay-title {
	border-bottom: solid 1px #fff;
}

.overlay-text p {
	text-align: center;
	border-bottom: solid 1px #fff;
}

/* Testimonials */
.testimonials {
	height: 100%;
}

.client {
	font-size: 20px;
	border-bottom: solid 1px #fff;
}

/* Media queries for testimonials section */
@media all and (min-width: 320px) {
	.testimonials {
		width: 80vw;
	}
	.client {
		width: 200px;
	}
}

@media all and (min-width: 768px) {
	.testimonials {
		width: 70vw;
	}
	.client {
		width: 355px;
	}
}

@media all and (min-width: 1280px) {
	.testimonials {
		width: 60vw;
	}
	.client {
		width: 360px;
	}
}

@media all and (min-width: 1600px) {
	.testimonials {
		width: 50vw;
	}
	.client {
		width: 390px;
	}
}
/* Contact Section */
.contact-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Change back to center */
	height: 20vh;
	margin: 0; /* Remove this */
}

button {
	padding: 20px;
	background-color: #1E1E24;
	color: #fff;
	border: 2px solid #fff;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	transition: 0.4s ease-in-out;
	position: relative;
}

button:hover {
	cursor: pointer;
	font-weight: bold;
}

button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Media queries for contact section */
@media all and (min-width: 320px) {
.contact-wrap {
	width: 70vw;
}
button {
	width: 200px;
}
}

@media all and (min-width: 768px) {
	.contact-wrap {
		width: 50vw;
	}
	button {
		width: 70%;
	}
	#contact {
		width: 70%;
	}
}

@media all and (min-width: 1280px) {
	.contact-wrap {
		width: 60vw;
	}
	button {
		width: 40%;
	}
	#contact {
		width: 60%;
	}
}

@media all and (min-width: 1600px) {
	.contact-wrap {
		width: 50vw;
	}
	button {
		width: 30%;
	}
	#contact {
		width: 75%;
	}
}

.contact-redirect {
  transition: color 0.25s;
}
.contact-redirect::before, .contact-redirect::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.contact-redirect::before {
  top: 0;
  left: 0;
}
.contact-redirect::after {
  bottom: 0;
  right: 0;
}
.contact-redirect:hover {
  color: #388E3C;
}
.contact-redirect:hover::before, .contact-redirect:hover::after {
  width: 100%;
  height: 100%;
}
.contact-redirect:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.contact-redirect:hover::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* Contact Modal */
/* Media queries for contact form */
@media all and (min-width: 320px) {
.modal-bg {
	margin: 0px 0px;
	justify-content: center;
	align-items: center;
}
.modal {
	align-items: center;
}
input {
	width: 90%;
}
textarea {
	width: 90%;
}
form {
	width: 100%;
}
}

@media all and (min-width: 768px) {
	.modal-bg {
		margin: 0px 50px;
		justify-content: flex-start;
		align-items: center;
	}
	.modal {
		align-items: center;
		height: 60%;
	}
	input {
		width: 90%;
	}
	textarea {
		width: 90%;
	}
	form {
		width: 100%;
	}
}

@media all and (min-width: 1280px) {
	.modal-bg {
		margin: 0px 100px;
		justify-content: flex-start;
		align-items: center;
	}
	.modal {
		align-items: center;
		height: 50%;
	}
	input {
		width: 80%;
	}
	textarea {
		width: 80%;
	}
	form {
		width: 50vw;
	}
}

@media all and (min-width: 1600px) {
	.modal-bg {
		margin: 0px 200px;
		justify-content: flex-start;
		align-items: center;
	}
	.modal {
		align-items: center;
		height: 70%;
	}
	input {
		width: 95%;
	}
	textarea {
		width: 95%;
	}
	form {
		width: 30vw;
	}
}

.modal-bg {
	position: fixed;
	width: 100vw;
	height:100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.bg-active {
	visibility: visible;
	opacity: 1;
}

.modal {
	display: flex;
	flex-direction: column;
	position: relative;
}

.modal-close {
	position: absolute;
	top: 0px;
	right: -5px;
	color: #327737;
	cursor: pointer;
	font-size: 22px;
	font-weight: bolder;
	transition: 0.4s;
}

.modal-close:hover {
	text-decoration: overline;
}

input {
	padding: 15px;
	border: solid 2px #fff;
	border-radius: 2em;
}

textarea {
	padding: 30px;
	border-radius: 2em;
	resize: none;
	overflow-y: auto;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Skill Bars */
.skills-container {
	width: 100%;
	background-color: #1E1E24;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

.skills {
	 text-align: right;
   color: #fff;
	 padding: 10px;
	 border: solid #fff 2px;
}

.html {
	width: 85%;
	background-color: #4CAF50;
}

.css {
	width: 75%;
	background-color: #2196F3;
}

.js {
	width: 55%;
	background-color: #f44336;
}

.php {
	width: 50%;
	background-color: #808080;
}

.git {
	width: 70%;
	background-color: #E3A587;
	color: black;
}

.debug {
	width: 80%;
	background-color: #626D58;
}

/*Animations */
/* Blinking Text */
.blinking{
    animation:blinkingText 2s infinite;
		margin: 0;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}
/* Typewriter Effect */
.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
             blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 435px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter2{
  animation: typewriter2 4s steps(40) 4.2s 1 normal both,
             blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 650px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Typewriter Classes */
.typewriter {
	position: relative;
	width: 435px;
	border-right: 2px solid rgba(255,255,255,.75);
	white-space: nowrap;
	overflow: hidden;
}

.typewriter2 {
	position: relative;
	width: 650px;
	border-right: 2px solid rgba(255,255,255,.75);
	white-space: nowrap;
	overflow: hidden;
}

/*Glowing Animation */
/* Menu Glow */
@keyframes glowing-m {
  0% { box-shadow: 0 0 -15px #FBFEF9; }
  40% { box-shadow: 0 0 15px #FBFEF9; }
  60% { box-shadow: 0 0 15px #FBFEF9; }
  100% { box-shadow: 0 0 -15px #FBFEF9; }
}

.glow-m {
  animation: glowing-m 4000ms infinite ease-in-out;
}

/* Gold Rank */
@keyframes glowing-g {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.glow-g {
  animation: glowing-g 4000ms infinite;
}

/* Silver Rank */
@keyframes glowing-s {
  0% { box-shadow: 0 0 -5px #C0C0C0; }
  40% { box-shadow: 0 0 10px #C0C0C0; }
  60% { box-shadow: 0 0 10px #C0C0C0; }
  100% { box-shadow: 0 0 -5px #C0C0C0; }
}

.glow-s {
  animation: glowing-s 4000ms infinite;
	animation-delay: 2s;
}
/* Bronze Rank */
@keyframes glowing-b {
  0% { box-shadow: 0 0 -5px #cd7f32; }
  40% { box-shadow: 0 0 10px #cd7f32; }
  60% { box-shadow: 0 0 10px #cd7f32; }
  100% { box-shadow: 0 0 -5px #cd7f32; }
}

.glow-b {
  animation: glowing-b 4000ms infinite;
}

/* Project timestamps */
.time-stamp {
	text-decoration: underline;
	color: #388E3C;
}

.header {
	color: #5C99A2;
	font-size: 19px;
}

.header.b {
	font-weight: bolder;
}

.project-name {
	text-transform: uppercase;
	font-size: 22px;
}

.projects.a a {
	margin: 0;
	word-wrap: break-word;
}

.projects a:hover {
	text-decoration: underline;
}

.projects li {
	list-style: initial;
}

.projects li:nth-child(odd) {
	color: #9CA3DB;
}

.projects p:nth-child(odd) {
	color: #9CA3DB;
}

.logo img {
	border: solid 2px #ced4da;
	padding: 2px;
	margin: 0;
}

@media all and (min-width: 320px) {
	.logo img {
	height: 70%;
	width: 70%;
	}
}

@media all and (min-width: 768px) {
	.logo img {
	height: 50%;
	width: 50%;
	}
}

@media all and (min-width: 1280px) {
	.logo img {
	height: 30%;
	width: 30%;
	}
}

@media all and (min-width: 1600px) {
	.logo img {
	height: 25%;
	width: 25%;
	}
}
