* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  list-style: none;
}

:root {
  --color-primary: #0A0F0D;
  --color-secondary: #6290C3;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-inactive-button: #fff;
  --color-active-button: #6290C3;
  --color-dark-mode-toggle: #ffff;
  --color-form: #ffff;
  --br-sm-2: 14px;
  --section-transition: all 0.3s ease-in-out;
  --box-shadow1: 0 3px 15px rgba(0, 0, 0, .3);
  --animation-transition: all 0.4s ease-in-out;
  --universal-padding: 10px 4rem;
}

body {
  background-color: var(--color-primary);
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color: var(--color-white);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

.light-mode {
  --color-primary: #fff;
  --color-secondary: #D58936;
  --color-white: #000;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #000000;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-inactive-button: #b2becd;
  --color-active-button: #D58936;
  --color-dark-mode-toggle: rgba(0, 0, 0, 0.521);
  --color-form: #ccc;
}

.enablejs {
  width: 100vw;
  height: auto;
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  font-size: 16px;
}

.enablejs a {
  text-decoration: underline;
  color: #000;
}

.errMsg {
  width: 300px;
  padding: 10px;
  color: #ffff;
  font-size: 14px;
  z-index: 101;
  margin: auto;
  text-align: center;
  background: rgba(198, 0, 0, 0.59);
  border-radius: 1em;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid #c60000;
}

.succMsg {
  width: 350px;
  padding: 10px;
  color: #ffff;
  font-size: 14px;
  z-index: 101;
  margin: auto;
  text-align: center;
  background: rgba(55, 161, 198, 0.71);
  border-radius: 1em;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid #37a1c6;
}

section {
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 5rem;
}

.section {
  -webkit-transform: translateY(-100%) scale 0;
          transform: translateY(-100%) scale 0;
  -webkit-transition: var(--section-transition);
  transition: var(--section-transition);
  background-color: var(--color-primary);
}

.section1 {
  display: none;
  -webkit-transform: translateY(0) scale 1;
          transform: translateY(0) scale 1;
}

.section2 {
  display: none;
  -webkit-transform: translateY(0) scale 1;
          transform: translateY(0) scale 1;
}

.section3 {
  display: none;
  -webkit-transform: translateY(0) scale 1;
          transform: translateY(0) scale 1;
}

.section4 {
  display: none;
  -webkit-transform: translateY(0) scale 1;
          transform: translateY(0) scale 1;
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  50% {
    -webkit-transform: translateY(-35%) scaleY(1);
            transform: translateY(-35%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  50% {
    -webkit-transform: translateY(-35%) scaleY(1);
            transform: translateY(-35%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .active-btn {
  background-color: var(--color-white) !important;
  -webkit-transition: var(--section-transition);
  transition: var(--section-transition);
}

.controls .active-btn i {
  color: var(--color-grey-6) !important;
}

.controls .control {
  cursor: pointer;
  background-color: var(--color-grey-6);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
}

.controls .control i {
  font-size: 1.5rem;
  color: var(--color-secondary);
  pointer-events: none;
}

.dark-mode-toggle {
  top: 5%;
  right: 3%;
  border-radius: 50%;
  background-color: var(--color-dark-mode-toggle);
  position: fixed;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--box-shadow1);
          box-shadow: var(--box-shadow1);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.dark-mode-toggle:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.dark-mode-toggle i {
  font-size: 1.2rem;
  color: var(--color-grey-6);
  pointer-events: none;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow-y: auto;
}

.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .left-header .left-header-shape {
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 48% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 48% 100%, 0% 100%);
  z-index: 1;
}

.header-content .left-header .hero-image {
  border-radius: var(--br-sm-2);
  height: auto;
  width: 55%;
  margin: 4rem 0 0 4rem;
  background-color: var(--color-white);
  -webkit-transition: var(--section-transition);
  transition: var(--section-transition);
}

.header-content .left-header .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(--section-transition);
  transition: var(--section-transition);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header-content .left-header .hero-image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .right-header .hero-text span {
  color: var(--color-secondary);
}

.header-content .right-header p {
  line-height: 1.8rem;
}

.hero-btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 900;
  position: relative;
  border: 2px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
}

.hero-btn .hero-btn-text {
  padding: 0 1rem 0 2rem;
}

.hero-btn .hero-btn-icon {
  color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1.1rem;
}

.hero-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.hero-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0.4;
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.about-title {
  text-align: center;
}

.about-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  z-index: 1;
}

.about-title h2 span {
  color: var(--color-secondary);
}

.about-title h2 .stats-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-4);
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 5rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 4rem 4rem 5rem;
}

.about-container .r-about-con {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container .r-about-con .about-item {
  border: 1px solid var(--color-grey-3);
  border-radius: 5px;
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-container .r-about-con .about-item:hover {
  cursor: default;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  -webkit-box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.35);
}

.about-container .r-about-con .about-item .about-text {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container .r-about-con .about-item .about-text .large-text {
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-secondary);
}

.about-container .r-about-con .about-item .about-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}

.about-container .r-about-con .about-item .about-text .small-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}

.about-container .l-about-con {
  padding-right: 5rem;
}

.about-container .l-about-con p {
  line-height: 2rem;
  padding: 2rem 0;
  color: var(--color-grey-1);
}

.about-container .l-about-con h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding: 10px 4rem;
}

.about-stats h4 {
  font-size: 1.5rem;
  color: var(--color-secondary);
  padding-bottom: 15px;
  text-align: center;
}

.about-stats .tooltip-wrap {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: var(--color-white);
  top: -5px;
  right: 3px;
}

.about-stats .tooltip-wrap i {
  cursor: pointer;
}

.about-stats .tooltip-wrap .tooltip-text-wrap {
  position: absolute;
  height: auto;
  width: 25vw;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  color: var(--color-white);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s visibility .4s;
  transition: opacity .4s visibility .4s;
}

.about-stats .tooltip-wrap .tooltip-text-wrap .tooltip-text {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
}

.about-stats .tooltip-wrap:hover .tooltip-text-wrap {
  visibility: visible;
  opacity: 1;
}

.about-stats .tooltip-wrap:hover .tooltip-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-stats .skill-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.about-stats .skill-grid .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 1rem 0;
}

.about-stats .skill-grid .skill-item p {
  padding: 0 0.3rem;
}

.about-stats .skill-grid .skill-item p.large-text {
  color: var(--color-secondary);
}

.about-stats .skill-grid .skill-item p.large-text::after {
  content: ':';
}

#recent {
  color: var(--color-secondary);
  border: solid 2px var(--color-white);
  padding: 20px;
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

#recent:hover {
  cursor: default;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  border: 1px solid var(--color-secondary);
  -webkit-box-shadow: 1px 4px 15px white;
          box-shadow: 1px 4px 15px white;
}

#recent .quotes::before {
  content: '"';
  font-size: 1.5rem;
  color: var(--color-inactive-button);
}

#recent .quotes::after {
  content: '"';
  font-size: 1.5rem;
  color: var(--color-inactive-button);
}

.portfolios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  padding: 0 5%;
}

.portfolios .portfolio-item {
  position: relative;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5%;
}

.portfolios .portfolio-item .port-hover {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  border-radius: 5%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: var(--animation-transition);
  transition: var(--animation-transition);
}

.portfolios .portfolio-item .port-hover .icons {
  margin: 3% 0;
}

.portfolios .portfolio-item .port-hover .icons i {
  padding: 0 3px;
  font-size: 24px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.portfolios .portfolio-item .port-hover .icons i:hover {
  color: var(--color-primary);
}

.portfolio-item:hover .port-hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

.contact-title span {
  color: var(--color-secondary);
  text-transform: var(--box-shadow1);
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (70%)[1];
      grid-template-columns: 40% repeat(1, 70%);
  padding: 0 15%;
  margin-top: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40% 0;
  margin: 0 5%;
  -webkit-clip-path: polygon(0% 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: var(--color-secondary);
}

.contact-container .contact-left h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 5%;
  padding: 5px;
  background-color: var(--color-grey-3);
  border-radius: 1em;
  position: relative;
}

.contact-container .contact-left h4::after {
  content: '22/04/22';
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  top: -20%;
  left: 0;
}

.contact-container .contact-left p {
  font-size: 16px;
  margin: 15px 5%;
  padding: 6px;
  background-color: var(--color-grey-4);
  border-radius: 1em;
  position: relative;
}

.contact-container .contact-left p::after {
  content: '22/04/22';
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  color: var(--color-black);
  top: -35%;
  left: 0;
}

.contact-container .contact-left .socials {
  width: auto;
  margin: 5%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-left .socials .social-item {
  font-size: 50px;
  padding: 0 5px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .4s transform ease-in-out;
  transition: .4s transform ease-in-out;
}

.contact-container .contact-left .socials .social-item:hover {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  color: var(--color-grey-6);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  margin-top: 20px;
}

form input {
  padding: 13px;
  margin: 20px;
  border: solid 2px var(--color-form);
  border-radius: 2em;
  width: 40vw;
  font-family: inherit;
  background-color: var(--color-form);
}

form textarea {
  padding: 15px;
  margin: 20px;
  border: solid 2px var(--color-form);
  border-radius: 2em;
  resize: none;
  overflow-y: auto;
  width: 40vw;
  font-family: inherit;
  background-color: var(--color-form);
}

form button {
  padding: 20px;
  border-radius: 2em;
  border: solid 1px var(--color-inactive-button);
  cursor: pointer;
  width: 10vw;
  background-color: var(--color-inactive-button);
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form button:hover {
  background-color: var(--color-active-button);
  color: var(--color-white);
  border: solid 1px var(--color-active-button);
  font-weight: 700;
}

@media only screen and (max-device-width: 480px) {
  .header-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: .5rem 2rem;
  }
  .header-content .left-header .left-header-shape {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .header-content .left-header .left-header-shape .hero-image {
    width: 90%;
    height: 90%;
    z-index: 2;
    margin: 1.5rem 1rem 0 -2rem;
  }
  .header-content .hero-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .header-content p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .header-content .hero-btn {
    font-size: 1rem;
    margin-bottom: 6rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-1);
  }
  .controls .control {
    margin: 1rem .3rem;
  }
  .about-title {
    margin-bottom: 2rem;
    padding: 0;
  }
  .about-title h2 {
    font-size: 2rem;
  }
  .about-title h2 .stats-title {
    font-size: 1.5rem;
  }
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }
  .about-container .l-about-con {
    width: 90%;
  }
  .about-container .l-about-con h3 {
    font-size: 1.5rem;
  }
  .about-container .l-about-con p {
    padding: 0;
    margin-bottom: 10px;
  }
  .about-container .r-about-con {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-stats h4 {
    font-size: 1.2rem;
  }
  .about-stats .skill-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
  .about-stats .skill-grid .skill-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  .contact-container {
    width: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    margin-top: 0;
  }
  .contact-container .contact-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 60% 0;
    margin: 0;
  }
  .contact-container .contact-left h4::after {
    top: -5%;
  }
  .contact-container form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-container form input {
    margin: 20px 0;
    width: 90%;
  }
  .contact-container form textarea {
    margin: 20px 0;
    width: 90%;
  }
  .contact-container form button {
    width: 90%;
  }
}

.dark-mode-toggle {
  width: 30px;
  height: 30px;
}

.control {
  padding: .5rem;
}

@media only screen and (min-width: 481px) and (max-width: 1100px) {
  .header-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: .5rem 2rem;
  }
  .header-content .left-header .left-header-shape {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .header-content .left-header .left-header-shape .hero-image {
    width: 80%;
    height: 80%;
    z-index: 2;
    margin: 1.5rem .5rem 0 -1rem;
  }
  .header-content .hero-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .header-content p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .header-content .hero-btn {
    font-size: 1rem;
    margin-bottom: 6rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-1);
  }
  .controls .control {
    margin: 1rem .3rem;
  }
  .about-title {
    margin-bottom: 2rem;
    padding: 0;
  }
  .about-title h2 {
    font-size: 2rem;
  }
  .about-title h2 .stats-title {
    font-size: 1.5rem;
  }
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }
  .about-container .l-about-con {
    width: 90%;
  }
  .about-container .l-about-con h3 {
    font-size: 1.5rem;
  }
  .about-container .l-about-con p {
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .about-container .r-about-con {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-stats h4 {
    font-size: 1.2rem;
  }
  .about-stats .skill-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
  }
  .about-stats .skill-grid .skill-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  .contact-container {
    max-width: 100vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    margin-top: 0;
  }
  .contact-container .contact-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 60% 0;
    margin: 0;
    max-width: 50;
    max-height: 50%;
  }
  .contact-container .contact-left h4::after {
    top: -20%;
  }
  .contact-container form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-container form input {
    margin: 20px 0;
    max-width: 90%;
    min-width: 70%;
  }
  .contact-container form textarea {
    margin: 20px 0;
    max-width: 90%;
    min-width: 70%;
  }
  .contact-container form button {
    max-width: 55%;
    min-width: 50%;
  }
}

@media only screen and (min-width: 1100px) {
  .left-header {
    width: 70%;
  }
  .left-header .left-header-shape {
    width: 100%;
  }
  .left-header .left-header-shape .hero-image {
    max-width: 80%;
    margin: 3rem 0rem 0 3rem;
  }
  .right-header {
    padding-right: 15%;
    width: 80%;
  }
  .right-header .hero-text {
    padding-top: 1rem;
    font-size: 2.5rem;
  }
  .right-header p {
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .hero-btn {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .dark-mode-toggle {
    width: 50px;
    height: 50px;
  }
  .control {
    padding: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */