@use "media";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}

:root {
    --color-primary: #0A0F0D; //Basic Color variables for reuse
    --color-secondary: #6290C3; //#30C5FF;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-inactive-button: #fff;
    --color-active-button: #6290C3;
    --br-sm-2: 14px; // Image Border radius - reusable for all images
    --section-transition: all 0.3s ease-in-out; // Reusable variable for section transitions, switching between 'about', 'portfolio', 'contact'. 
    --box-shadow1: 0 3px 15px rgba(0, 0, 0, .3); // box shadow for section icons, reusable for other aspects potentially
    --animation-transition: all 0.4s ease-in-out; // Reusable variable for animation transitions 
    --universal-padding: 10px 4rem; // Reusable Padding Variable 
}

body {
    background-color: var(--color-primary);
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

// Light Mode Specific 
.light-mode {
    --color-primary: #fff;
    --color-secondary: #D58936;
    --color-white: #000;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #000000;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-inactive-button: #b2becd;
    --color-active-button: #D58936;

}


section {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 5rem;
}

.section {
    transform: translateY(-100%) scale (0);
    transition: var(--section-transition);
    background-color: var(--color-primary);
}

.section1 {
    display: none;
    transform: translateY(0) scale (1); // add different background colours to each section 
}

.section2 {
    display: none;
    transform: translateY(0) scale (1);
}

.section3 {
    display: none;
    transform: translateY(0) scale (1);
}

.section4 {
    display: none;
    transform: translateY(0) scale (1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    animation-timing-function: linear;

    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scaleY(0)
        }

        50% {
            transform: translateY(-35%) scaleY(1)
        }

        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}

// Controls (right hand persistent menu) 
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--color-white) !important;
        transition: var(--section-transition);

        i {
            color: var(--color-grey-6) !important;
        }
    }

    .control {
        cursor: pointer;
        background-color: var(--color-grey-6);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0; // spacing for icon sections
        box-shadow: var(--box-shadow1);

        i {
            // formatting for section icons
            font-size: 1.5rem;
            color: var(--color-secondary);
            pointer-events: none;
        }
    }
}

// Dark/Light Mode Toggle 
.dark-mode-toggle {
    top: 5%;
    right: 3%;
    border-radius: 50%;
    background-color: var(--color-grey-3);
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow1);
    transition: all .1s ease-in-out;

    &:active {
        transform: translateY(-5px);
    }

    i {
        font-size: 1.2rem;
        color: var(--color-grey-6);
        pointer-events: none;
    }
}



// Header Content 
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    overflow-y: auto;

    .left-header {
        display: flex;
        align-items: center;
        position: relative;

        .left-header-shape {
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            clip-path: polygon(0 0, 100% 0%, 48% 100%, 0% 100%);
            z-index: 1;
        }

        .hero-image {
            border-radius: var(--br-sm-2);
            height: auto;
            width: 55%;
            margin: 4rem 0 0 4rem;
            background-color: var(--color-white);
            transition: var(--section-transition);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--section-transition);
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hero-text {
            span {
                color: var(--color-secondary);
            }
        }

        p {
            line-height: 1.8rem;
        }
    }
}

// Hero Button (Download CV Button) 
.hero-btn-con {
    display: flex;
    align-self: flex-start;
}

.hero-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 900;
    position: relative;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    align-self: flex-start;
    overflow: hidden;

    .hero-btn-text {
        padding: 0 1rem 0 2rem;
    }

    .hero-btn-icon {
        color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1.1rem;
    }

    &::before {
        // Hover animation Effects for CV button 
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--animation-transition);
    }

    &:hover {
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            opacity: 0.4;
            transition: var(--animation-transition);
        }
    }
}

// About Me Page 

// Title Formatting 
.about-title {
    text-align: center;

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 500;
        z-index: 1;

        span {
            color: var(--color-secondary);
        }

        .stats-title {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-4);
            transition: var(--animation-transition);
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 5rem;
        }
    }
}

// Overall Container 

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 4rem 5rem;

    .r-about-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 1px solid var(--color-grey-3);
            border-radius: 5px;
            transition: var(--animation-transition);
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0, 0, 0, .35);
            }

            .about-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                .large-text {
                    font-size: 3rem;
                    font-weight: 800;
                    color: var(--color-secondary);
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }

                }
            }
        }
    }

    .l-about-con {
        padding-right: 5rem;

        p {
            line-height: 2rem;
            padding: 2rem 0;
            color: var(--color-grey-1);
        }

        h3 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

// Skill Grid Formatting 

.about-stats {
    padding: 10px 4rem;

    h4 {
        font-size: 1.5rem;
        color: var(--color-secondary);
        padding-bottom: 15px;
        text-align: center;
    }

    .tooltip-wrap {
        // Hover with info for scale
        position: relative;
        display: inline-block;
        font-size: 15px;
        color: var(--color-white);
        top: -5px;
        right: 3px;

        i {
            cursor: pointer;
        }

        .tooltip-text-wrap {
            position: absolute;
            height: auto;
            width: 25vw;
            top: 0;
            bottom: 0;
            left: 15px;
            right: 0;
            color: var(--color-white);
            visibility: hidden;
            opacity: 0;
            transition: opacity .4s visibility .4s;

            .tooltip-text {
                transition: .4s;
                transform: translateX(1em);
            }
        }
    }

    .tooltip-wrap:hover .tooltip-text-wrap {
        visibility: visible;
        opacity: 1;
    }

    .tooltip-wrap:hover .tooltip-text {
        transform: translateX(0);
    }

    .skill-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .skill-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
            padding: 1rem 0;

            p {
                padding: 0 0.3rem;
            }

            p.large-text {
                color: var(--color-secondary);

                &::after {
                    content: ':';
                }
            }
        }
    }
}

// Testimonial Formatting 
#recent {
    color: var(--color-secondary);
    border: solid 2px var(--color-white);
    padding: 20px;
    transition: var(--animation-transition);

    &:hover {
        cursor: default;
        transform: translateX(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgb(255, 255, 255);
    }

    .quotes::before {
        content: '"';
        font-size: 1.5rem;
        color: var(--color-inactive-button);
    }

    .quotes::after {
        content: '"';
        font-size: 1.5rem;
        color: var(--color-inactive-button);
    }
}

// Portfolio Page 
.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
    padding: 0 5%;

    .portfolio-item {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5%;
        }

        .port-hover {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            border-radius: 5%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            opacity: 0;
            transform: scale(0);
            transition: var(--animation-transition);

            .icons {
                margin: 3% 0;

                i {
                    padding: 0 3px;
                    font-size: 24px;
                    transition: .4s ease-in-out;

                    &:hover {
                        color: var(--color-primary);
                    }
                }

            }
        }
    }
}

.portfolio-item:hover .port-hover {
    opacity: 1;
    transform: scale(1);
}

// Contact Page 
.contact-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;

    span {
        color: var(--color-secondary);
        text-transform: var(--box-shadow1);
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 40% repeat(1, 70%);
    padding: 0 15%;
    margin-top: 5vh;
    align-items: center;

    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 40% 0;
        margin: 0 5%;
        clip-path: polygon(0% 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        background-color: var(--color-secondary);

        h4 {
            font-size: 16px;
            font-weight: 400;
            margin: 0 5%;
            padding: 5px;
            background-color: var(--color-grey-3);
            border-radius: 1em;
            position: relative;

            &::after {
                content: '22/04/22';
                font-weight: 400;
                font-size: 10px;
                position: absolute;
                top: -20%;
                left: 0;
            }
        }

        p {
            font-size: 16px;
            margin: 15px 5%;
            padding: 6px;
            background-color: var(--color-grey-4);
            border-radius: 1em;
            position: relative;

            &::after {
                content: '22/04/22';
                font-weight: 400;
                font-size: 10px;
                position: absolute;
                color: var(--color-black);
                top: -35%;
                left: 0;
            }
        }

        .socials {
            width: auto;
            margin: 5%;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            .social-item {
                font-size: 50px;
                padding: 0 5px;
                transform: rotate(0);
                transition: .4s transform ease-in-out;

                &:hover {
                    transform: rotate(70deg);
                    color: var(--color-grey-6);
                }
            }
        }
    }
}

form {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    margin-top: 20px;

    input {
        padding: 13px;
        margin: 20px;
        border: solid 2px var(--color-grey-3);
        border-radius: 2em;
        width: 40vw;
        font-family: inherit;
        background-color: var(--color-grey-3);
    }

    textarea {
        padding: 15px;
        margin: 20px;
        border: solid 2px var(--color-grey-3);
        border-radius: 2em;
        resize: none;
        overflow-y: auto;
        width: 40vw;
        font-family: inherit;
        background-color: var(--color-grey-3);
    }

    button {
        padding: 20px;
        border-radius: 2em;
        border: solid 1px var(--color-inactive-button);
        cursor: pointer;
        width: 10vw;
        background-color: var(--color-inactive-button);
        font-family: inherit;
        font-weight: 500;
        font-size: 18px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-active-button);
            color: var(--color-white);
            border: solid 1px var(--color-active-button);
            font-weight: 700;
        }
    }
}





// MEDIA QUERIES 

// 'Home' MOBILE 
@media only screen and (max-device-width: 480px) {
    .header-content {
        grid-template-columns: 1fr;
        padding: .5rem 2rem;

        .left-header {
            .left-header-shape {
                position: relative;
                margin: 0;
                padding: 0;

                .hero-image {
                    width: 90%;
                    height: 90%;
                    z-index: 2;
                    margin: 1.5rem 1rem 0 -2rem;
                }
            }
        }

        .hero-text {
            font-size: 1.2rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1rem;
            margin: 1rem 0;
        }


        .hero-btn {
            font-size: 1rem;
            margin-bottom: 6rem;
        }
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-1);

        .control {
            margin: 1rem .3rem;
        }
    }

    // 'About Me' MOBILE
    .about-title {
        margin-bottom: 2rem;
        padding: 0;

        h2 {
            font-size: 2rem;

            .stats-title {
                font-size: 1.5rem;
            }
        }
    }

    .about-container {
        grid-template-columns: 1fr;
        padding: 0;
        width: 100%;

        .l-about-con {
            width: 90%;

            h3 {
                font-size: 1.5rem;
            }

            p {
                padding: 0;
                margin-bottom: 10px;
            }
        }

        .r-about-con {
            grid-template-columns: 1fr;
        }

    }

    .about-stats {
        h4 {
            font-size: 1.2rem;
        }

        .skill-grid {
            grid-template-columns: 1fr;
            margin-bottom: 3rem;

            .skill-item {
                flex-direction: column;
            }
        }
    }

    // 'Portfolio' MOBILE 
    .portfolios {
        grid-template-columns: 1fr;
        padding: 0;
    }

    // 'Contact' MOBILE 
    .contact-container {
        width: auto;
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 0;

        .contact-left {
            order: 2;
            padding: 60% 0;
            margin: 0;

            h4::after {
                top: -5%;
            }
        }

        form {
            order: 1;

            input {
                margin: 20px 0;
                width: 90%;
            }

            textarea {
                margin: 20px 0;
                width: 90%;
            }

            button {
                width: 90%;
            }
        }
    }
}

// Smaller light mode toggle for phones 
.dark-mode-toggle {
    width: 30px;
    height: 30px;
}

// Smaller Menu Buttons for phones
.control {
    padding: .5rem;
}

// Tablet Queries // Home 
@media only screen and (min-width: 481px) and (max-width: 1100px) {
    .header-content {
        grid-template-columns: 1fr;
        padding: .5rem 2rem;

        .left-header {
            .left-header-shape {
                position: relative;
                margin: 0;
                padding: 0;

                .hero-image {
                    width: 80%;
                    height: 80%;
                    z-index: 2;
                    margin: 1.5rem .5rem 0 -1rem;
                }
            }
        }

        .hero-text {
            font-size: 1.2rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1rem;
            margin: 1rem 0;
        }


        .hero-btn {
            font-size: 1rem;
            margin-bottom: 6rem;
        }
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-1);

        .control {
            margin: 1rem .3rem;
        }
    }

    // 'About Me' TABLET
    .about-title {
        margin-bottom: 2rem;
        padding: 0;

        h2 {
            font-size: 2rem;

            .stats-title {
                font-size: 1.5rem;
            }
        }
    }

    .about-container {
        grid-template-columns: 1fr;
        padding: 0;
        width: 100%;

        .l-about-con {
            width: 90%;

            h3 {
                font-size: 1.5rem;
            }

            p {
                padding: 0;
                margin-bottom: 10px;
                width: 100%;
            }
        }

        .r-about-con {
            grid-template-columns: 1fr;
        }

    }

    .about-stats {
        h4 {
            font-size: 1.2rem;
        }

        .skill-grid {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 3rem;

            .skill-item {
                flex-direction: column;
            }
        }
    }

    // 'Portfolio' TABLET 
    .portfolios {
        grid-template-columns: 1fr;
        padding: 0;
    }

    // 'Contact' TABLET 
    .contact-container {
        max-width: 100vw;
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 0;

        .contact-left {
            order: 2;
            padding: 60% 0;
            margin: 0;
            max-width: 50;
            max-height: 50%;

            h4::after {
                top: -20%;
            }
        }

        form {
            order: 1;

            input {
                margin: 20px 0;
                max-width: 90%;
                min-width: 70%;
            }

            textarea {
                margin: 20px 0;
                max-width: 90%;
                min-width: 70%;
            }

            button {
                max-width: 55%;
                min-width: 50%;
            }
        }
    }
}


// Desktop Queries and up 
@media only screen and (min-width: 1100px) {
    .left-header {
        width: 70%;

        .left-header-shape {
            width: 100%;

            .hero-image {
                width: 70%;
                margin: 3rem 0rem 0 3rem;
            }
        }
    }

    .right-header {
        padding-right: 15%;
        width: 80%;

        .hero-text {
            padding-top: 1rem;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
            margin: 2rem 0;
        }
    }

    .hero-btn {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .dark-mode-toggle {
        width: 50px;
        height: 50px;
    }

    .control {
        padding: 1rem;
    }
}